body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* File CSS kustom Anda */

/* Mengganti warna primer Bootstrap (versi 4) */
:root {
  --primary: #051630;
}

.btn-primary {
  background: #051630;
  border: #051630;
}
.btn-primary:hover {
  background: white;
  color: #051630;
  border: #051630 solid 1px;
}
